<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9x2Ey5nwnfuIkS4OCilha94sbehjIXZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>476613426669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.koinonia</string>
	<key>PROJECT_ID</key>
	<string>koinonia-1338b</string>
	<key>STORAGE_BUCKET</key>
	<string>koinonia-1338b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476613426669:ios:83399e4a55ea1791cdfbe4</string>
	<key>DATABASE_URL</key>
	<string>https://koinonia-1338b-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>